<%- model_class = Relationship -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="page-header">
  <h2>Follows:</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @follows.each do |follow| %>
      <% user = User.find_by_id(follow.to_userid)%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.sex %></td>
        <td>
          <%= link_to t('.more_details', :default => t("helpers.links.more_details")),
                      user_path(follow.to_userid), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'chat',
                      '/two_chat/'+follow.to_userid.to_s, :class => 'btn btn-default btn-xs' %>          

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="page-header">
  <h2>Followers:</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |follower| %>
      <% user = User.find_by_id(follower.from_userid)%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.sex %></td>
        <td>
          <%= link_to t('.more_details', :default => t("helpers.links.more_details")),
                      user_path(follower.from_userid), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'chat',
                      '/two_chat/'+follower.from_userid.to_s, :class => 'btn btn-default btn-xs' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>