<%= form_for @user, :html => { :multipart => true, :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
      <div class="divClass">
        <% if @user.avatar.to_s == "" %>
        <%= image_tag("default.jpg",:id => 'img_preview', :class => "divClass") %>
        <% else %>
        <%= image_tag(@user.avatar_url,:id => 'img_preview', :class => "divClass") %>
        <% end %>
      </div>
    <%= f.file_field :avatar, :id => 'user_avatar'%>
    <%= f.hidden_field :avatar_cache %>
  </div>
  
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  
  <div class="form-group">
    <%= f.label :no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:no) %>
  </div>
  <div class="form-group">
    <%= f.label :age, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%=f.error_span(:age) %>
  </div>
  <div class="form-group">
    <%= f.label :sex, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :sex,User::SEX_TYPES,{}, class: 'form-control'  %>
    </div>
    <%=f.error_span(:sex) %>
  </div>
  <div class="form-group">
    <%= f.label :college, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :college, :class => 'form-control' %>
    </div>
    <%=f.error_span(:college) %>
  </div>
  <div class="form-group">
    <%= f.label :major, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :major, :class => 'form-control' %>
    </div>
    <%=f.error_span(:major) %>
  </div>
  <div class="form-group">
    <%= f.label :school_year, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :school_year, :class => 'form-control' %>
    </div>
    <%=f.error_span(:school_year) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  
  $("#user_avatar").change(function(){
	  var objUrl = getObjectURL(this.files[0]);
	  console.log("objUrl = "+objUrl);
	  if (objUrl) {
		  $("#img_preview").attr("src", objUrl) ;
	  }
  });
  
  function getObjectURL(file) {
	  var url = null ; 
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
  }
  
</script>

<style type="text/css">

  .divClass{
    width: 150px;
    height: 150px;
  }
        
</style>